In [13]:
import pandas as pd

In [15]:
df=pd.read_csv("C:/Users/Hiruni/OneDrive/Desktop/s 16210/thyroid_cancer_risk_data.csv")

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212691 entries, 0 to 212690
Data columns (total 17 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Patient_ID           212691 non-null  int64
 1   Age                  212691 non-null  int64
 2   Gender               212691 non-null  object
 3   Country              212691 non-null  object
 4   Ethnicity            212691 non-null  object
 5   Family_History       212691 non-null  object
 6   Radiation_Exposure   212691 non-null  object
 7   Iodine_Deficiency    212691 non-null  object
 8   Smoking              212691 non-null  object
 9   Obesity              212691 non-null  object
 10  Diabetes             212691 non-null  object
 11  TSH_Level            212691 non-null  float64
 12  T3_Level             212691 non-null  float64
 13  T4_Level             212691 non-null  float64
 14  Nodule_Size          212691 non-null  float64
 15  Thyroid_Cancer_Risk  212691 non-null  object
 16  Diagnosis            212691 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 27.6+ MB

In [19]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 Patient_ID             0
Age                    0
Gender                 0
Country                0
Ethnicity              0
Family_History         0
Radiation_Exposure     0
Iodine_Deficiency      0
Smoking                0
Obesity                0
Diabetes               0
TSH_Level              0
T3_Level               0
T4_Level               0
Nodule_Size            0
Thyroid_Cancer_Risk    0
Diagnosis              0
dtype: int64

In [21]:
# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print("\nNumber of duplicate rows:", duplicate_rows)

Number of duplicate rows: 0

In [23]:
##drop ID column from the dataset
df = df.drop(columns=['Patient_ID'])
df.to_csv("C:/Users/Hiruni/OneDrive/Desktop/s 16210/thyroid_cancer_risk_data_preprocessed.csv", index=False)

In [25]:
df.describe()

,Age,TSH_Level,T3_Level,T4_Level,Nodule_Size
count,212691.000000,212691.000000,212691.000000,212691.000000,212691.000000
mean,51.918497,5.045102,2.001727,8.246204,2.503403
std,21.632815,2.860264,0.866248,2.164188,1.444631
min,15.000000,0.100000,0.500000,4.500000,0.000000
25%,33.000000,2.570000,1.250000,6.370000,1.250000
50%,52.000000,5.040000,2.000000,8.240000,2.510000
75%,71.000000,7.520000,2.750000,10.120000,3.760000
max,89.000000,10.000000,3.500000,12.000000,5.000000

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212691 entries, 0 to 212690
Data columns (total 16 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Age                  212691 non-null  int64
 1   Gender               212691 non-null  object
 2   Country              212691 non-null  object
 3   Ethnicity            212691 non-null  object
 4   Family_History       212691 non-null  object
 5   Radiation_Exposure   212691 non-null  object
 6   Iodine_Deficiency    212691 non-null  object
 7   Smoking              212691 non-null  object
 8   Obesity              212691 non-null  object
 9   Diabetes             212691 non-null  object
 10  TSH_Level            212691 non-null  float64
 11  T3_Level             212691 non-null  float64
 12  T4_Level             212691 non-null  float64
 13  Nodule_Size          212691 non-null  float64
 14  Thyroid_Cancer_Risk  212691 non-null  object
 15  Diagnosis            212691 non-null  object
dtypes: float64(4), int64(1), object(11)
memory usage: 26.0+ MB

In [29]:
categorical_columns = df.select_dtypes(include=['object', 'category']).columns

categories = {col: df[col].unique().tolist() for col in categorical_columns}

print(categories)

{'Gender': ['Male', 'Female'], 'Country': ['Russia', 'Germany', 'Nigeria', 'India', 'UK', 'South Korea', 'Brazil', 'China', 'Japan', 'USA'], 'Ethnicity': ['Caucasian', 'Hispanic', 'Asian', 'African', 'Middle Eastern'], 'Family_History': ['No', 'Yes'], 'Radiation_Exposure': ['Yes', 'No'], 'Iodine_Deficiency': ['No', 'Yes'], 'Smoking': ['No', 'Yes'], 'Obesity': ['No', 'Yes'], 'Diabetes': ['No', 'Yes'], 'Thyroid_Cancer_Risk': ['Low', 'Medium', 'High'], 'Diagnosis': ['Benign', 'Malignant']}